p.text-background span {
    font-weight: 700;
    font-style: italic;
    text-decoration: underline;
}

div > .text-background span { /*Правильно?*/
    background-color: rgb(255, 255, 0);
}

span span {
    background-color: rgb(128, 128, 128);
    text-decoration: line-through;
}

ul span span {
    font-size: 18px;
    text-transform: uppercase;
}

section > p {
    text-shadow: 3px 3px 5px rgb(255, 0, 255);
    text-indent: 50px;
}

li ul {
    list-style-image: url(https://raw.githubusercontent.com/Computer-Science-Department-ChNU/web-technologies/a4ac799023c09fbed0c5485a3d037535c4c3272b/html-css/labs/lab-4/materials/li.svg);
}

.text-background  {
    word-spacing: 50px;
}

.text-bold > p {
    font-weight: 700;
}

div.text-bold section p {
    line-height: 45px;
}

img + p {
    background-color: brown;
}

section + p { /*Правильно?*/
    color:rgb(255, 0, 0);
}